<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.idiotsapps.chaoenglish" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".helper.HelperApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:fullBackupContent="true"
        android:icon="@drawable/image"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="com.idiotsapps.chaoenglish.ui.activity.FirstStartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".ui.activity.ViewMoreActivity"
            android:label="@string/title_activity_view_more"
            android:parentActivityName=".ui.activity.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.QuesActivity"
            android:label="@string/title_activity_question" >
        </activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <provider android:authorities="com.facebook.app.FacebookContentProvider749538661857364"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>

        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <!-- Accepts URIs "com.example.myapp://" -->
            <data android:scheme="com.idiotsapps.chaoenglish" />
        </intent-filter>

    </application>

</manifest>
